/*
 *  skilltree module
 *  calss name m-st
*/


/*class for skill*/
.m-st{
}
.m-st-Node{
	position:absolute;
}
.m-st-ProMask{
	position:absolute;
	width:50%;
	left:50%;
	top:50%;
	background-color:#eeeeee;
} 
.m-st-Pro{
	position:absolute;
	left:50%;
	top:50%;
	width:0;
	height:0;
	border-right:solid #e50008;
	border-bottom:solid #e50008;
}
.m-st-Circle{
	position:absolute;
	background-color:#eeeeee;
	border-radius:100%;
	text-align:center;
	border:solid #e50008;
	bottom:0;
}
.m-st-Name{
	color:#e50008;
	vertical-align:middle;
        font-weight: 700;
}
.m-st-ProNum{
	color:#e50008;
	position:absolute;
	bottom:2px;
	right:-10px;
}

/*----------------animation--------------------*/


